{% extends "AcmeStoreBundle::layout.html.twig" %}

{% block title "Symfony - Demos" %}


{% block content %}
    <h1>Menu</h1>
    <ul id="demo-list">
        <li><a href="{{ path('create') }}">Create user</a></li>
    </ul>
{% endblock %}